---
---

// https://coolors.co/app/66101f-fa9d6c-fffff0-75add2-2d1e2f
$whiteish: #fffff0;
$blackish: #2d1e2f;
$orangeish: #fa9d6c;
$blueish: #75add2;
$redish: #66101f;

html {
    /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    font-size: 62.5%;
}

body {
    background-color: $whiteish;
    color: $blackish;

    font-family: 'Droid Sans', sans-serif;
    font-size: 1.6rem;
}

h1 {
    margin: 5rem 0 2.5rem 0;

    font-family: 'Droid Serif', serif;
    font-size: 3rem;
}

h2 {
    margin: 2rem 0 1rem 0;
    font-family: 'Droid Serif', serif;
    font-size: 2.2rem;
}

p {
    margin: 1.2rem 0;
}

a {
    color: $blueish;

    text-decoration: none;

    &:active, &:hover, &:link, &:visited {
        color: $blueish;

        text-decoration: none;
    }
}

header {
    width: 100%;
    height: 0.5rem;

    background-color: $redish;

    font-size: 0rem;
}

main {
    width: 80rem;

    margin: 0 auto;
}

img.profile-picture {
    float: right;

    width: 40rem;

    margin: 0 2rem 2rem 2rem;
}

span.highlight {
    color: $orangeish;

    font-weight: 700;
}

footer {
    margin: 2rem 0 0 0;
    padding: 2rem 0;

    color: $whiteish;
    background-color: $redish;

    p {
        width: 80rem;

        margin: 0 auto;
        padding: 0;

        font-size: 1.2rem;
    }
}
