---
---

$whiteish: #FFFFF0;
$blackish: #2D1E2F;
$orangeish: #FA9D6C;
$blueish: #75ADD2;

html {
    /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    font-size: 62.5%;
}

body {
    background-color: $whiteish;
    color: $blackish;

    font-family: 'Droid Sans', sans-serif;
    font-size: 1.6rem;
}

h1 {
    margin: 5rem 0 2.5rem 0;

    font-family: 'Droid Serif', serif;
    font-size: 3rem;
}

h2 {
    margin: 2rem 0 1rem 0;
    font-family: 'Droid Serif', serif;
    font-size: 2.2rem;
}

p {
    margin: 1.2rem 0;
}

a {
    color: $blueish;

    text-decoration: none;

    &:active, &:hover, &:link, &:visited {
        color: $blueish;

        text-decoration: none;
    }
}

#border {
    width: 100%;
    height: 0.5rem;

    background-color: #66101F;

    font-size: 0rem;
}

#page-wrap {
    width: 80rem;

    margin: 0 auto;
}

span.highlight {
    color: $orangeish;

    font-weight: 700;
}
